/*整体*/
body,html{
	height: 100%;
	overflow: auto;
}
/*头部*/
header{
	width: 100%;
	height: 6.7rem;
	background-color: #fff;
	border-bottom-left-radius: 0.8rem;
	border-bottom-right-radius: 0.8rem;
	padding:0.8rem 0;
	display: flex;
	justify-content: space-around;
	position: fixed;
	z-index: 10;
}
header div.top{
	width: 33%;
	border-right: 2px solid rgb(237,237,237);
	position: relative;
}
header div.top:last-child{
	border: none;
}
header div.top .img{
	width: 4rem;
	height: 4rem;
	margin: 0rem auto;
	position: relative;
}
header div.top .img img{
	width: 4rem;
	height: 4rem;
	position: absolute;
	top: 0;
	left: 0;
}
header div.top .img .icon {
	position: relative;
	line-height: 4.2rem;
	height: 4rem;
}
header div.top .icon .iconfont{
	font-size: 1.4rem;
	color: #fff;
	padding-right: 0.1rem;
}
header .word{
	line-height: 0.8rem;
}
header .word p.news{
	font-size: 0.8rem;
}

header .word p.news-en{
	font-size: 0.6rem;
	transform: scale(0.7)
}
/*筛选*/
.screen{
	width: 100%;
	height: 3.5rem;
	top: 5.9rem;
	z-index: 1;
	position: fixed;
}
/*加载*/
#pullrefresh{
	padding: 0.6rem;
	padding-bottom: 0;
}
.mui-scroll{
	position: relative;
}
/*内容*/
main{
	top: 8.6rem;
	bottom: 2.7rem;
	position: fixed;
	z-index: 2;
	width: 100%;
	border-top-left-radius: 0.8rem;
	border-top-right-radius: 0.8rem;
	overflow:auto;
}


/*底部*/
footer{
	width: 100%;
	height: 2.7rem;
	position: fixed;
	bottom: 0;
	z-index: 3;
}
footer .btn{
	width: 8.3rem;
	height: 1.8rem;
	border: none;
	border-radius: 0.9rem;
	color: #fff;
	font-size: 0.8rem;
	margin: 0.45rem 0;
}
footer .btn:active{
	background-color: rgb(241,156,79);
}
