main{
	padding: 0.6rem;
}
main ul li{
	margin-bottom: 0.3rem;
}
main ul li>.title{
	width: 100%;
	height: 1.4rem;
	line-height: 1.4rem;
	padding: 0 0.5rem;
	border-top-left-radius: 0.4rem;
	border-top-right-radius: 0.4rem;
	font-size: 0.7rem;
}
main ul li .list{
	padding: 0 0.5rem;
}

.status{
	display: flex;
	justify-content:space-between;
	line-height: 1.4rem;
	align-content: center;
	padding: 0.3rem 0;
	border-bottom: 1px solid rgb(237,237,237);
}
.status:last-child{
	border: none;
}
.status p {
	font-size: 0.65rem;
}
.status div.courseorder{
	border: 1px solid rgb(123,123,123);
	font-size: 0.5rem;
	padding: 0 0.2rem;
	line-height: 0.8rem;
	height: 0.8rem;
	margin-top: 0.25rem;
	border-radius: 2px;
}
.status div.coursedetail{
	width: 80%;
}
.status div.coursedetail p{
	width: 100%;
}
.status p .orange{
	font-size: 0.8rem;
}
.status p .iconfont.orange{
	padding-right: 0.3rem;
}


/*已拼学员*/
.students.list{
	width: 100%;
	background-color: #fff;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
	padding-bottom: 0.5rem;
}
.students .headimg{
	background-repeat: no-repeat;
	background-size: cover;
	background-origin: content-box;
	width: 2.4rem;
	height: 2.4rem;
	border-radius: 1.2rem;
	margin-top: 0.5rem;
	margin-right: 0.5rem;
}

/*拼课须知*/
.consultate{
	min-height: 6rem;
	background-color: #fff;
	overflow-y: auto;
	padding: 0.4rem 0.7rem 2.2rem 0.7rem;
	font-size: 0.7rem;
	line-height: 1.2rem;
	position: relative;
}
.consultate .click{
	position: absolute;
	width: 4rem;
	height: 1.4rem;
	line-height: 1.4rem;
	right: 0;
	bottom: 0.6rem;
	text-align: center;
	border-top-left-radius: 0.7rem;
	border-bottom-left-radius: 0.7rem;
	background-color: rgba(0,0,0,0.4);
}
a.click{
	color: #fff;
}

/*底部*/
footer{
	display: flex;
	justify-content: space-between;
	margin-top: 0.6rem;
	width: 100%;
	display: none;
}
footer.more div{
	width: 50%;
	background-color: rgb(179,137,87);
	color: #fff;
	text-align: center;
	font-size: 0.7rem;
	line-height: 1.8rem;
	height: 1.8rem;
	border-left: 1px solid #EFEFF4;
}
footer.more div:first-child{
	border: none;
}

footer.invitation  div{
	width: 100%;
	background-color: rgb(179,137,87);
	color: #fff;
	text-align: center;
	font-size: 0.7rem;
	line-height: 1.8rem;
	height: 1.8rem;
}



.imgcontent{
	border: none;
	margin-bottom: 0.4rem;
}
